.dragContainer {
  width: 100%;
  height: 100vh;
  background-color: rgb(248, 239, 227);
  padding: 50px 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.dragContainer h1 {
  margin-bottom: 10px;
  font-weight: bold;
  color: rgb(34, 34, 36);

}

.drag-component-section {
  background-color: white;
  width: 50%;
  height: 250px;
  padding: 15px;
}

.drag-component-area {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  overflow-y: scroll;
  background-color: rgb(243, 243, 245);
}

.drag-component {
  margin: 5px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(175, 232, 175);
  justify-content: flex-start;
  color: rgb(23, 22, 22);
}

.drag-component-area::-webkit-scrollbar {
  display: none;
}

.drag-area {
  margin: 20px;
  background-color: white;
  height: 300px;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.drag-section {
  flex: 1;
  padding: 5px;
  text-align: center;
  border: 1px dashed grey;
  height: 100%;
  overflow-y: scroll;
}

.drag-section::-webkit-scrollbar {
  display: none;
}
