.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}

.home div {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));  /* Make columns responsive */
  margin-top: 10px;
}
