.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  flex-direction: column;
  flex-wrap: wrap;
}

.home div {
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 10px;
}
