.box-div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  width: 200px;
  height: 200px;
  border: 1px solid black;
  background-color: aliceblue;
  /* gap: 10px; */
  border-radius: 10px;
}

.box-div h3{
   border: 1px solid black;
}
/* 
.box-div button{
    width: 95%;
    height: 50px;
    color: aliceblue;
}

.box-div button:hover{
    color: white;
    background-color: blue;
} */